*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100vw;
    height: 200px;
    background-color: rgb(126, 48, 3);
    padding: 10px;


}
.container2{
    width: 80vw;
    height: 50vh;
    background-color: rgb(126, 48, 3);
    padding: 10px;
    position: relative;
    top: 10em;
    margin: auto;

}
.box{

    width: 200px;
    height: 200px;
    background-color: rgb(252, 199, 129);
    animation-name: first-animation ;
    animation-duration:4s;
    animation-iteration-count: 5;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    /* animation-delay: 1s; */
}
.box2{
    position: absolute;
    width: 100px;
    height: 100px;
    /* background-color: rgb(252, 199, 129); */
    animation-name: second-animation ;
    animation-duration:7s;
    animation-iteration-count: 5;
    /* animation-fill-mode: forwards;
    animation-timing-function: ease-out; */
}
h1{
    text-align: center;
    /* font-size: 30px; */
    animation-name: text;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}   
#emo{
    width: 50px;
    height: 50px;
}
@keyframes first-animation{
    from{
        width: 200px;
    }
    to{
        width: 100vw;
    }
}
@keyframes text {
    from{
        font-size: 10px;
    }
    to{
        font-size: 100px;
    }
}@keyframes second-animation{
    0%{
        top: 0;
        left: 0px;
    }
    25%{
        top: 353px;
        left: 0px;
    }
    50%{
        top: 353px;
        left: 1424px;
    }
    75%{
        top: 0px;
        left: 1424px;
    }
    100%{
        top:0px;
        left: 0px;
    }
}